* {
    margin: 0;
    box-sizing: border-box;
}

h1 {
    background-color: bisque;
    text-align: center;
    width: 100vw;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

.players {
    height: clamp(1rem, 5vh, 10vh);
    display: flex;
    flex: 0;
    margin: clamp(0.5rem, 1rem, 2rem);
    gap: 0.5rem;
}

input, button {
    line-height: 1.5;
    font-style: inherit;
    border-radius: 6px;
    border: none;
}

button {
    background-color: bisque;
    color: black;
    font-weight: bold;
}

.container {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    background-color: rgb(123, 204, 2);
    aspect-ratio: 1/1;
    gap: 1rem;
    width: min(80vw, 80vh);
    border-radius: 10%;
}

.block {
    background-color: black;
    color: rgb(123, 204, 2);
    font-size: clamp(4rem, calc(1.5rem + 6vw) , 10rem);
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.winner-anounce {
    color: white;
}